body {
    color: #212f3c;
    font-family: sans-serif;
    padding: 50px 0 50px 0;
    margin: 0;
}

h1 {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

ul.notes-list {
    list-style-type: none;
    line-height: 1.65;
}

ul.notes-list p,
ul.notes-list ul {
    margin-left: 15px;
}

ul.notes-list ul li {
    margin-bottom: 8px;
}

ul.notes-list ul li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 576px) {
    h1 {
        width: 100%;
        padding: 0 15px 0 30px;
        font-size: 1.35em;
        text-align: left;
    }

    h2 {
        font-size: 1.25em;
    }

    ul.notes-list {
        line-height: 1.75;
        padding: 0 15px 0 30px;
    }

    ul.notes-list p,
    ul.notes-list ul {
        margin-left: 0;
    }
}