body {
    color: #212f3c;
    font-family: sans-serif;
    padding: 50px 0 50px 0;
}

h1 {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

ul.notes-list {
    list-style-type: none;
    line-height: 1.65;
}

ul.notes-list p,
ul.notes-list ul {
    margin-left: 15px;
}

ul.notes-list ul li {
    margin-bottom: 8px;
}

ul.notes-list ul li:last-child {
    margin-bottom: 0;
}